{% extends 'base.html' %} {% block header %}
<h1>{% block title %} My Todo's {% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('todo.create') }}">Create a new Todo</a> {% endif %} {% endblock header %} {% block content %}
<ul>
    {% for todo in todos %}
    <li class="todo">
        <div>
            <h1>
                {% if todo['completed'] == 1 %}
                <strike>{{ todo['title'] }}</strike> {% else %} {{ todo['title'] }} {% endif %}
            </h1>
            <h4>
                {% if todo['completed'] == 1 %}
                <strike>{{ todo['description'] }}</strike> {% else %} {{ todo['description'] }} {% endif %}
            </h4>
            <div class="about">{{ todo['created_at'].strftime('%Y-%m-%d') }}</div>
            <a class="action" href="{{ url_for('todo.update', id=todo['id']) }}">Edit</a>
        </div>
    </li>
    {% if not loop.last %}
    <hr> {% endif %} {% endfor %}
</ul>
{% endblock %}